body {
    background-color: #222;
    color: white;
    font-family: 'Arial', sans-serif;
}

#radialGraph {
    width: 100%;
    height: 100vh;
}

.axisLabel {
    fill: white;
}

.pokemonPath {
    fill-opacity: 0.4;
}

#searchbox {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
}

#pokemonSearch {
    color: black;
}

#addPokemon {
    color: black;
}

/* styles.css */
#pokemonList {
    height: 500px;
    overflow-y: scroll;
    position: absolute;
    left: 50px;
    top: 50px;
}
