body {
    margin: 0 auto;
    background-color: #8a8a75;
    max-width: 80%;
    min-width: 500px;
    text-align: center;
}

.dot {
    stroke: #000;
}

.axis text {
    fill: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#description {
    text-align: justify;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#description p {
    margin-bottom: 10px;
}

#description ul {
    margin-bottom: 10px;
    padding-left: 20px;
}

#description li {
    list-style-type: disc;
}

#description strong {
    font-weight: bold;
}